.box {
	background-color: #282a2d;
	border-radius: 0.5em;
	width: 95vw;
}

.box > img {
	width: 100%;
	height: auto;
}

.box > div {
	position: relative;
	font-size: 1.5rem;
	color: #ffff;
	top: -40px;
}

.box > div .pic-name::before {
	content: 'Tag: ';
	color: #928b8b;
}
.box > div .pic-name {
	position: relative;
	font-style: italic;
	font-size: 1.2rem;
	line-height: 2.2rem;
	color: #928b8b;
	top: 20px;
	margin: 10px;
}

.box > div .pic-desc {
	position: relative;
	padding: 0px 15px;
	line-height: 2.2rem;
	top: 20px;
}

@media (min-width: 600px) {
	.box {
		width: 100%;
	}
}
